<% if logged_in? %>
  <%= render 'posts/posts', posts: @posts %> 
<% else %>
  <h1 class="display-3 text-sm-left">Didit.</h1>
    <p class="text-sm-left">Post today`s workout.</p>
  <div class="text-center">
    <%= link_to 'Show post', posts_path, :style=>"color:gray;"  %>
  </div>
<% end %>